{% extends 'base.html' %}
{% block content %}
<style>
  table, tr, td, th {
    border: 2px solid rgb(171, 16, 132);
    padding: 10px;
    border-collapse: collapse;
    margin: auto;
  }
  h1{
    position: relative;
    left: 47%;
  }
  img{
    width: 200px;
  }
  button{
border: none;
border-radius: 8%;
    background-color: rgb(133, 8, 110);
    border: none;
    padding: 3px;;
    
  }
  a{
    color: rgb(226, 214, 214);
    text-decoration: none;
  }
  .create{
    margin: auto;
    width: 10%;
    position: relative;
left:45%;
font-size: 30px;
margin-top: 10px;;
  }


</style>
<h1>Cars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Color</th>
    <th>Model</th>
    <th>Image</th>
    <th>Description</th>
    <th>CRUD</th>
  </tr>
 {% for ele in cars %}
  <tr>
    <td>{{ele.name}}</td>
    <td>{{ele.price}}</td>
    <td>{{ele.color}}</td>
    <td>{{ele.model}}</td>
    <td> <img src="{{ele.image.url}}" alt="image" /></td>
    <td>{{ele.description}}</td>
    <td><button><a href="{% url 'singleCar' ele.id %}">show</a></button>
    <button><a href="{% url 'deleteCar' ele.id %}">delete</a></button>
    <button><a href="{% url 'editCar' ele.id %}">update</a></button> </td>


  </tr>
  {% endfor %} 
</table>
<button class="create"><a href="{% url 'createCar' %}">create</a></button> </td>
{% endblock %}